<<h1><%= @question.test.title %> вопрос</h1>

<p><%= link_to 'Все вопросы', test_path(@question.test) %></p>

<p><%= @question.body %></p>

<h2>Ответы</h2>
<%= link_to 'Новый ответ', new_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Редактировать', edit_question_path(@question) %>
  <%= link_to 'Удалить',
              question_path(@question),
              'data-confirm': 'Вы уверены?',
              'data-method': :delete %>
</p>
