<h1><%= t '.heading' %></h1>
<p><%= link_to t(:new), new_admin_badge_path %></p>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t 'badges.title' %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t 'badges.image' %></th>
    <th><%= t 'badges.rule' %></th>
    <th colspan='2'><%= t :actions %></th>
  </tr>
  <%= render @badges %>
</table>
