<h1><%= t '.title', name: @test_passage.test.title %></h1>
<hr>
<% successful = @test_passage.successful? %>
<p class="test__result">
    <%= t '.score' %>
  <span class="test__score test__score--<%= successful ? 'success' : 'fail' %>">
    <%= number_to_percentage(@test_passage.score, precision: 0) %>
  </span>
</p>

<p class="test__message">
  <%= successful ? t('.success') : t('.failure') %>
</p>

<%= link_to t('back'), tests_path %>
