<h2><%= t '.title', name: @test_passage.test.title %></h2>
<hr>
<% successful = @test_passage.successful? %>
<p>
    <%= t '.score' %>
  <span class="text-<%= successful ? 'success' : 'danger' %>">
    <%= number_to_percentage(@test_passage.score, precision: 0) %>
  </span>
</p>

<p class="test__message">
  <%= successful ? t('.success') : t('.failure') %>
</p>

<%= link_to t('back'), tests_path, class: 'btn btn-link' %>
