<h1 class='mb-4'><%= t '.title', name: @test_passage.test.title %></h1>
<div class='card'>
  <div class='card-header'>
      <%= t '.question_html', position: @test_passage.current_question.position, total: @test_passage.test.questions.count %>
  </div>
  <div class='card-body'>
    <h4 class='card-title mb-4'>
      <%= @test_passage.current_question.body %>
    </h4>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
            <div class='form-group'>
              <%= b.label  do %>
                <%= b.check_box %>
                <%= b.object.body %>
              <% end %>
            </div>
      <% end %>
      <p><%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>
      <%= form.submit t('.next'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
