<div class='row'>
  <div class='col-md-6'>
    <h1 class='mb-4'><%= t '.title', name: @test_passage.test.title %></h1>
  </div>
  <% if @test_passage.test.time %>
    <div class='col-md-6 text-right'>
      <div class='timer text-success'>
        <span class='timer-min'><%= minutes_format @test_passage.time_left %></span>
        <span>:</span>
        <span class='timer-sec'><%= seconds_format @test_passage.time_left %></span>
      </div>
    </div>
  <% end %>
</div>
<div class='card'>
  <div class='card-header'>
    <div class='mb-2'>
      <%= t '.question_html', position: @test_passage.current_question.position, total: @test_passage.test.questions.count %>
    </div>
        <div class='progress mb-1'>
          <div
            class='progress-bar bg-success'
            role='progressbar'
            style='width: <%= @test_passage.progress %>%'
            aria-valuenow='<%= @test_passage.progress %>'
            aria-valuemin='0'
            aria-valuemax='100'>
              <%= @test_passage.progress %>%
          </div>
        </div>
  </div>
  <div class='card-body'>
    <h4 class='card-title mb-4'>
      <%= @test_passage.current_question.body %>
    </h4>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
            <div class='form-group'>
              <%= b.label  do %>
                <%= b.check_box %>
                <%= b.object.body %>
              <% end %>
            </div>
      <% end %>
      <p><%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>
      <%= form.submit t('.next'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
