<header class='header'>
  <div class='container'>
    <nav class='nav'>
    <%= link_to 'Test Guru', root_path, class: 'nav__logo' %>
      <ul class='nav__list'>
        <% unless user_signed_in? %>
          <li class='nav__item'>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
          <li class='nav__item'>
            <%= link_to 'Log in', new_user_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class='nav__item'>
            <span>Welcome, <b><%= current_user.email %></b> Guru&#8195</span>
          </li>
            <% if current_user.admin? %>
              <%= link_to 'Admin panel', admin_tests_path %>
            <% end %>
          <li class='nav__item'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
