<h1>Вопрос</h1>
<p><%= @answer.question.body %></p>
<%= link_to 'Назад', question_path(@answer.question) %>
<p>
  <b>Ответ: </b>
  <%= @answer.body %>
</p>
<p>
  <b>Верный: </b>
  <%= @answer.correct %>
</p>
<%= link_to 'Редактировать', edit_answer_path(@answer) %> |
<%= link_to 'Удалить',
            answer_path(@answer),
            'data-confirm': 'Вы уверены?',
            'data-method': :delete %>
