<p><%= link_to 'all questions', admin_test_path(@question.test) %></p>
<h1><%= @question.test.title %> question</h1>
<p><%= @question.body %></p>

<h2>Answers</h2>
<%= link_to 'New answer', new_admin_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'edit', edit_admin_question_path(@question) %>
  <%= link_to 'delete',
              admin_question_path(@question),
              'data-confirm': 'Are you sure?',
              'data-method': :delete %>
</p>
