<div class='row'>
  <div class='col col-md-5'>
    <%= form_with model: [:admin, @test], local: true do |form| %>
      <div class='form-group'>
        <%= render 'shared/errors', resource: @test %>
        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title, class: 'form-control'  %>
        </p>
        <p>
          <%= form.label :level %><br>
          <%= form.number_field :level, class: 'form-control' %>
        </p>
        <p>
          <%= form.label :category %><br>
          <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: true }, { class: 'custom-select'} %>
        </p>
        <p>
          <%= form.label :time %><br>
          <%= form.number_field :time, class: 'form-control' %>
        </p>
        <p><%= form.submit class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
<% end %>
