<h1><%= t '.heading' %></h1>
<p><%= link_to t(:new), new_admin_test_path %></p>
<table style="text-align: left">
  <tr>
    <th><%= t 'testzes.title' %></th>
    <th><%= t 'testzes.level' %></th>
    <th><%= t 'testzes.questions' %></th>
    <th colspan='3'><%= t :actions %></th>
  </tr>
  <%= render @tests %>
</table>
