<div><%= link_to 'all tests', admin_tests_path %></div>
<h1><%= @test.title %></h1>
<table style="text-align: left">
  <tr>
    <th>Category: </th>
    <td><%= @test.category.title %></td>
  </tr>
  <tr>
    <th>Level: </th>
    <td><%= @test.level %></td>
  </tr>
  <tr>
    <th style="vertical-align: top">Questions: </th>
    <td>
      <table><%= render @test.questions %></table>
      <br>
      <button>
        <%= link_to 'add question', new_admin_test_question_path(@test) %>
      </button>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
