<div><%= link_to t(:back), admin_tests_path %></div>
<h1><%= @test.title %></h1>
<table style="text-align: left">
  <tr>
    <th><%= t 'tests.category' %>:</th>
    <td><%= @test.category.title %></td>
  </tr>
  <tr>
    <th><%= t 'tests.level' %>:</th>
    <td><%= @test.level %></td>
  </tr>
  <tr>
     <th style="vertical-align: top"><%= t 'tests.questions'%>:</th>
    <td>
      <table><%= render @test.questions %></table>
      <br>
      <button>
            <%= link_to t('.add_question'), new_admin_test_question_path(@test) %>
      </button>
    </td>
  </tr>
</table>

<%= link_to t(:edit), edit_admin_test_path(@test) %>
<%= link_to t(:back), admin_tests_path %>
