<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :название %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :автор %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :уровень %><br>
    <%= form.number_field :level %>
  </p>
  <p>
    <%= form.label :категория %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
  <p><%= form.submit %></p>
<% end %>
