<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to 'показать', test_path(test) %></td>
  <td><%= link_to 'редактировать', edit_test_path(test) %></td>
  <td>
    <%= link_to 'удалить',
                test_path(test),
                'data-confirm': 'Вы уверены?',
                'data-method': :delete %>
  </td>
</tr>
