<h1 class='mb-4'><%= t '.heading' %></h1>
<table class='table table-bordered'>
  <tr>
      <th scope='col' class='sort-by-title pointer'>
        <%= t 'tests.title' %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope='col'><%= t 'tests.level' %></th>
      <th scope='col'><%= t 'tests.questions' %></th>
      <th scope='col'><%= t :actions %></th>
    </tr>
    <%= render @tests %>
</table>
