<h1><%= t '.heading' %></h1>
<table style="text-align: left">
  <tr>
    <th><%= t 'tests.title' %></th>
    <th><%= t 'tests.level' %></th>
    <th><%= t 'tests.questions' %></th>
    <th><%= t :actions %></th>
  </tr>
  <%= render @tests %>
</table>
