<h1 class='mb-4'><%= t '.heading' %></h1>
<table class='table table-bordered'>
  <thead class='thead-dark'>
    <tr>
      <th scope="col"><%= t 'tests.title' %></th>
      <th scope="col"><%= t 'tests.level' %></th>
      <th scope="col"><%= t 'tests.questions' %></th>
      <th scope="col"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
